.btn{
  text-transform: capitalize;
  border-radius: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  width: 153px;
  height: 42px;
}

 .btn-primary {
  background-color: #202142;
}

/* .btn-main {
  background: var(--tertiary-color);
}  */