.projects {
  width: 100%;
  background-color: #fff;
}

.projects__container {
  width: 1440px;
  margin: 0px 13px 75px 13px;
}
.projects__textWrap{
  margin-bottom: 75px;
}

.projects__projectWrap {
  /* display: flex; */
}

.projectItem__img {
  width: 360px;
height: 260px;
}
.projectItem__img img {
  width: 100%;
  height: 100%;
}